
body {
  background: #EEEEEE;
  font: 13px "Times New Roman", Times, sans-serif;
  line-height: 1.37;
  margin: 40px 0;
}
p {
  line-height: 1.4;
}
ul {
  margin-bottom: 0;
}
li {
  margin-bottom: 2px;
}
a {
  text-decoration: none;
}

#resume {
  margin: 0 auto;
  max-width: 600px;
  padding: 80px 100px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  -webkit-box-shadow: 2px 2px 4px #aaa;
}

.email {
  font-weight: bold;
}

.coursesList {
  vertical-align: top;
  display: inline-block;
}

.availability {
  display: inline;
  margin-left: 200px;
}

.largeFont {
  font-size: 20px;
}

.sectionBlock {
  display: flex;
  width: 100%;
}

.sectionName {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
}

.sectionContent {
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

.sectionContent ul {
  padding-left: 20px;
  margin-top: 3.5px;
}

.sectionContent .title {
  font-weight: bold;
}

.sectionContent .role {
}

.sectionContent .date {
  float: right;
  font-weight: bold;
}

.sectionContent .location {
  float: right;
  font-style: italic;
}


.sectionContent .separator {
  height: 14px;
}

.sectionLine {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(201, 201, 201);
  margin-bottom: 10px;
}

.jobDetails {
}


.divider {
  margin-left: 5px;
  margin-right: 5px;
}

.summary {
  margin-top: 6px;
}

.skillBlock {
  margin-bottom: 4px;
  line-height: 12px;
}

.jobBlock {
  margin-bottom: -3px;
  page-break-inside: avoid;
}

/* Media Queries */
@media only screen and (max-width: 40em) {
  body {
    margin: 0;
    font-size: 14px;
  }
  #resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 0.5em 1em;
    border: none;
  }
  .sectionContent {
    width: 100%;
  }
  .sectionContent .date {
    padding-right: 2em;
  }
  .sectionName {
    width: auto;
  }
  .largeFont {
    font-size: 20px;
  }
  .smallFont {
    font-size: 14px;
  }
}

@media print {
  @page {
    margin: 0;
  }
  #resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 0px 0px;
    border: 0px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  a {
    color: black;
  }
}