.svg-component {
    background-color: white;
}

body {
    background-color: white;
}

.text-label {
    pointer-events: none;
}

.node {
    pointer-events: all;
}
body { margin:0; }
.title {
    font-size: 1.9em;
    color: #919191;
}
*{
    font-family: "Tahoma", Geneva, sans-serif;
}

.description {
    font-size: 1.3em;
    color: #dfdfdf;
    background-color: rgb(61, 61, 61);
    padding-bottom:0.5em;
    margin:0;
}

footer {
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    height: 15%;
    width: 100%
}

#coursework {
    font-size: 19px;
}
.fa {
  padding: 20px;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
